@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: burlywood;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 607px;
  height: 829px;
  margin: auto;
  margin-top: 75px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #000 20%, #d8d9da 100%);
}

.topbar {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.topbar input {
  display: flex;
  width: 362px;
  height: 78px;
  background: #ebfffc;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color: #626262;
  font-size: 20px;
  font-weight: 400px;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  background: #ebfffc;
  border-radius: 40px;
  cursor: pointer;
}

.weather-image {
  margin-top: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-temp {
  display: flex;
  justify-content: center;
  color: #ffff;
  font-size: 120px;
  font-weight: 400;
}

.weather-location {
  display: flex;
  justify-content: center;
  color: #ffff;
  font-size: 60px;
  font-weight: 400;
}

.data-container {
  margin-top: 50px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.data {
  display: flex;
  flex-direction: column;
  font-size: 34px;
  font-weight: 400;
}

.text {
  font-size: 20px;
  font-weight: 400;
  color: #ffff;
}

.text-error {
  color: red;
  font-size: 25px;
  font-weight: 900;
  text-align: start;
  padding-left: 6rem;
}

.icon {
  margin-top: 10px;
}

.description {
  display: inline-flex;
  padding-left: 70px;
  color: #ffff;
  font-size: 30px;
  font-weight: 400;
}

.active {
  color: #ffff;
  font-size: 20px;
  font-weight: 400;
  background-color: #000;
  border-width: 5px;
  cursor: pointer;
}

.title {
  color: #ffff;
  font-size: 40px;
  font-weight: 700;
}

.temperature-converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
